<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes list</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <table border="2">
        <h1>User created notes</h1>
        <form th:action="@{/create/note}" th:object="${noteData}" method="get">
            <div><input type="submit" value="Create new"></div>
        </form>
        <div th:each="newNote : ${noteData}">
            <tr>
                <th><!--for row counter --></th>
                <td>
                    <div>Created by: <b class="txt-cap" th:text="${userData.getFullName()}"></b></div>

                    <div class="txt-italic" th:text="'Title:  '+${newNote.title}"></div>
                    <div th:text="'Note: '+${newNote.note}"></div>
                    <div th:text="'Creation time: '+${newNote.date}"></div>

                </td>
            </tr>
        </div>
    </table>

</div>
</body>
</html>